@import '../../styles/variable.scss';

.top-backgroung {
    display: flex;
    justify-content: center;

    .top-background-container {
        width: 90%;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 0;

        .ellipse1 {
            width: 20%;
            height: 100px;
            border-radius: 500px;
            opacity: 0.6;
            background: var(--topBackgroundBlue);
            filter: blur(100px);
        }

        .ellipse2 {
            width: 50%;
            height: 200px;
            border-radius: 500px;
            opacity: 0.6;
            background: var(--topBackgroundRed);
            filter: blur(100px);
        }

        .ellipse3 {
            width: 20%;
            height: 100px;
            border-radius: 500px;
            opacity: 0.6;
            background: var(--topBackgroundYellow);
            filter: blur(100px);
        }
    }
}
