@import '../../styles/variable.scss';

#projects {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 10rem;

    @include mobile {
        padding-top: 2rem;
        padding-bottom: 0rem;
    }

    @include tablet {
        padding-bottom: 0rem;
    }

    @include desktop {
        padding-top: 0;
    }

    @include largeDesktop {
        padding-top: 0;
    }

    .projects-container {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;

        .projects-section-title {
            position: relative;
            width: 100%;
            text-align: left;
            @include Syne(150px, 700, 0em);
            color: var(--basicWhite);
            opacity: 0.1;
            padding-left: 1rem;

            @include mobile {
                text-align: center;
                padding-left: 0;
                @include Syne(40px, 700, 0em);
            }

            @include tablet {
                text-align: center;
                padding-left: 0;
                @include Syne(100px, 700, 0em);
            }

            @include desktop {
                @include Syne(120px, 700, 0em);
            }

            @include xxlDesktop {
                @include Syne(200px, 700, 0em);
            }

            &::before {
                content: 'Projects';
                position: absolute;
                width: calc(100% - 5rem); // réduire la largeur de 5rem
                top: -40px;
                left: 40px;
                text-align: left;
                @include Syne(150px, 700, 0em);
                color: var(--basicWhite);
                opacity: 0.2;

                @include mobile {
                    text-align: center;
                    @include Syne(40px, 700, 0em);
                    top: -15px;
                    left: 60px;
                }

                @include tablet {
                    text-align: center;
                    @include Syne(100px, 700, 0em);
                    top: -15px;
                    left: 60px;
                }

                @include desktop {
                    @include Syne(120px, 700, 0em);
                }

                @include xxlDesktop {
                    @include Syne(200px, 700, 0em);
                }
            }
        }

        .projects-title {
            width: 100%;
            text-align: center;
            margin-bottom: 5rem;
            margin-top: 5rem;
            @include Syne(40px, 700, 0.2em);
            color: var(--basicWhite);

            @include mobile {
                width: 100%;
                text-align: center;
                @include Syne(25px, 700, 0.2em);
                margin-top: 3rem;
                margin-bottom: 3rem;
            }

            @include tablet {
                @include Syne(40px, 700, 0.2em);
                text-align: center;
                width: 100%;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }

            @include xxlDesktop {
                @include Syne(70px, 700, 0.2em);
            }
        }

        .projects-cards-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 2rem;
            gap: 2rem;

            @include mobile {
                margin-top: 0;
            }

            @include tablet {
                margin-top: 0;
            }
        }
    }
}
