@import '../../styles/variable.scss';

.btn-gradient {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--basicWhite);
    background: linear-gradient(45deg, var(--button-1), var(--button-2), var(--button-3));
    padding: 10px 20px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 1px;
        background: var(--basicOnyx);
        border-radius: 19px;
        transition: 0.5s;
    }

    &:hover::before {
        opacity: 0.7;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0px;
        background: linear-gradient(45deg, var(--button-1), var(--button-2), var(--button-3));
        border-radius: 20px;
        transition: 0.5s;
        opacity: 0;
        filter: blur(20px);
    }

    &:hover::after {
        opacity: 1;
    }

    .btn-gradient-text {
        position: relative;
        @include Syne(20px, 500, 0.3em);
        z-index: 1;
    }
}
