.topBackground {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    z-index: -1;

    .ellipse1 {
        width: 25%;
        height: 144.076px;
        border-radius: 759.682px;
        background: rgba(63, 100, 233, 0.43);
        filter: blur(120px);
    }

    .ellipse2 {
        width: 50%;
        height: 275.792px;
        border-radius: 759.682px;
        background: rgba(233, 63, 63, 0.43);
        filter: blur(120px);
    }

    .ellipse3 {
        width: 25%;
        height: 144.646px;
        border-radius: 759.682px;
        background: rgba(255, 184, 0, 0.43);
        filter: blur(120px);
    }
}