@import '../../../style/keyframes.scss';

.topBackground {
    width: 100%;
    display: flex;
    margin: 0 auto;
    position: absolute;
    z-index: -1;

    .ellipse1 {
        width: 30%;
        height: 144.076px;
        border-radius: 500px;
        background: rgba(63, 100, 233, 0.43);
        filter: blur(100px);
        animation: move 3s infinite;
    }

    .ellipse2 {
        width: 50%;
        height: 275.792px;
        border-radius: 500px;
        background: rgba(233, 63, 63, 0.43);
        filter: blur(100px);
        animation: move 4s infinite;
    }

    .ellipse3 {
        width: 30%;
        height: 144.646px;
        border-radius: 500px;
        background: rgba(255, 184, 0, 0.43);
        filter: blur(100px);
        animation: move 3s infinite;
    }
}
