@import '../../styles/variable.scss';
@import '../../styles/keyframes.scss';

.scroll-container {
    position: fixed;
    width: 100vw;
    bottom: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include xxlDesktop {
        bottom: 60px;
    }

    &.hidden {
        display: none;
    }

    .scroll-downs {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 34px;
        height: 55px;

        .mousey {
            display: flex;
            justify-content: center;
            width: 3px;
            padding: 10px 15px;
            height: 35px;
            border: 2px solid var(--basicWhite);
            border-radius: 25px;
            opacity: 0.75;
            box-sizing: content-box;

            @include xxlDesktop {
                width: 10px;
                height: 55px;
            }

            .scroller {
                width: 3px;
                height: 10px;
                border-radius: 25%;
                background-color: var(--basicWhite);
                animation-name: scroll;
                animation-duration: 2s;
                animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
                animation-iteration-count: infinite;

                @include xxlDesktop {
                    width: 5px;
                    height: 20px;
                    animation-duration: 1.5s;
                }
            }
        }
    }
    .scroll-text {
        width: 100%;
        text-align: center;
        @include Space(16px, 400);
        color: var(--basicWhite);
        margin-top: 20px;
        animation: blink 2s infinite;

        @include xxlDesktop {
            @include Space(20px, 400);
            margin-top: 30px;
        }
    }
}
