@import '../../style/variable.scss';

.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 34px;
    height: 55px;

    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid $lightMainBg;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;

        .scroller {
            width: 3px;
            height: 10px;
            border-radius: 25%;
            background-color: $lightMainBg;
            animation-name: scroll;
            animation-duration: 2s;
            animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            animation-iteration-count: infinite;
        }

        @keyframes scroll {
            0% {
                opacity: 0;
            }

            10% {
                transform: translateY(0);
                opacity: 1;
            }

            100% {
                transform: translateY(15px);
                opacity: 0;
            }
        }
    }
}

span {
    width: 100%;
    text-align: center;
    @include spaceGrotesk16Regular;
    color: $lightMainBg;
    margin-top: 20px;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
