@import '../../styles/variable.scss';

.loader {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--basicOnyx);
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-loader {
    position: relative;
    width: 70%;
    height: 70%;
    z-index: 99;

    @include mobile {
        width: 100%;
        height: 100%;
    }
}

@-webkit-keyframes topBckground-animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 2.5098971724510193px;
        stroke-dasharray: 2.5098971724510193px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2.5098971724510193px;
    }
}

@keyframes topBckground-animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 2.5098971724510193px;
        stroke-dasharray: 2.5098971724510193px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2.5098971724510193px;
    }
}

.svg-elem-1 {
    -webkit-animation:
        topBckground-animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        topBckground-animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
    animation:
        topBckground-animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        topBckground-animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 1690.5252685546875px;
        stroke-dasharray: 1690.5252685546875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1690.5252685546875px;
    }
}

@keyframes topBckground-animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 1690.5252685546875px;
        stroke-dasharray: 1690.5252685546875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1690.5252685546875px;
    }
}

.svg-elem-2 {
    -webkit-animation:
        topBckground-animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s both,
        topBckground-animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
    animation:
        topBckground-animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s both,
        topBckground-animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 1056.2784423828125px;
        stroke-dasharray: 1056.2784423828125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1056.2784423828125px;
    }
}

@keyframes topBckground-animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 1056.2784423828125px;
        stroke-dasharray: 1056.2784423828125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1056.2784423828125px;
    }
}

.svg-elem-3 {
    -webkit-animation:
        topBckground-animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both,
        topBckground-animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s both;
    animation:
        topBckground-animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both,
        topBckground-animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 728.3217163085938px;
        stroke-dasharray: 728.3217163085938px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 728.3217163085938px;
    }
}

@keyframes topBckground-animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 728.3217163085938px;
        stroke-dasharray: 728.3217163085938px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 728.3217163085938px;
    }
}

@-webkit-keyframes topBckground-animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

@keyframes topBckground-animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

.svg-elem-4 {
    -webkit-animation:
        topBckground-animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.30000000000000004s both,
        topBckground-animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
    animation:
        topBckground-animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.30000000000000004s both,
        topBckground-animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 479.8329162597656px;
        stroke-dasharray: 479.8329162597656px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 479.8329162597656px;
    }
}

@keyframes topBckground-animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 479.8329162597656px;
        stroke-dasharray: 479.8329162597656px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 479.8329162597656px;
    }
}

@-webkit-keyframes topBckground-animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

@keyframes topBckground-animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

.svg-elem-5 {
    -webkit-animation:
        topBckground-animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both,
        topBckground-animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s both;
    animation:
        topBckground-animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both,
        topBckground-animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 297.1121826171875px;
        stroke-dasharray: 297.1121826171875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 297.1121826171875px;
    }
}

@keyframes topBckground-animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 297.1121826171875px;
        stroke-dasharray: 297.1121826171875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 297.1121826171875px;
    }
}

@-webkit-keyframes topBckground-animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

@keyframes topBckground-animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

.svg-elem-6 {
    -webkit-animation:
        topBckground-animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both,
        topBckground-animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
    animation:
        topBckground-animate-svg-stroke-6 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both,
        topBckground-animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 383.8034362792969px;
        stroke-dasharray: 383.8034362792969px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 383.8034362792969px;
    }
}

@keyframes topBckground-animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 383.8034362792969px;
        stroke-dasharray: 383.8034362792969px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 383.8034362792969px;
    }
}

@-webkit-keyframes topBckground-animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

@keyframes topBckground-animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

.svg-elem-7 {
    -webkit-animation:
        topBckground-animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s
            both,
        topBckground-animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
    animation:
        topBckground-animate-svg-stroke-7 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s
            both,
        topBckground-animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 396.3007507324219px;
        stroke-dasharray: 396.3007507324219px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 396.3007507324219px;
    }
}

@keyframes topBckground-animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 396.3007507324219px;
        stroke-dasharray: 396.3007507324219px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 396.3007507324219px;
    }
}

@-webkit-keyframes topBckground-animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

@keyframes topBckground-animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

.svg-elem-8 {
    -webkit-animation:
        topBckground-animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s
            both,
        topBckground-animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
    animation:
        topBckground-animate-svg-stroke-8 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s
            both,
        topBckground-animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 571.6522216796875px;
        stroke-dasharray: 571.6522216796875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 571.6522216796875px;
    }
}

@keyframes topBckground-animate-svg-stroke-9 {
    0% {
        stroke-dashoffset: 571.6522216796875px;
        stroke-dasharray: 571.6522216796875px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 571.6522216796875px;
    }
}

@-webkit-keyframes topBckground-animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

@keyframes topBckground-animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

.svg-elem-9 {
    -webkit-animation:
        topBckground-animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both,
        topBckground-animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
    animation:
        topBckground-animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both,
        topBckground-animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
}

@-webkit-keyframes topBckground-animate-svg-stroke-10 {
    0% {
        stroke-dashoffset: 480.02252197265625px;
        stroke-dasharray: 480.02252197265625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 480.02252197265625px;
    }
}

@keyframes topBckground-animate-svg-stroke-10 {
    0% {
        stroke-dashoffset: 480.02252197265625px;
        stroke-dasharray: 480.02252197265625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 480.02252197265625px;
    }
}

@-webkit-keyframes topBckground-animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

@keyframes topBckground-animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(148, 148, 148);
    }
}

.svg-elem-10 {
    -webkit-animation:
        topBckground-animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both,
        topBckground-animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both;
    animation:
        topBckground-animate-svg-stroke-10 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both,
        topBckground-animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both;
}

.st0 {
    fill: none;
}
.st1 {
    fill: none;
    stroke: #949494;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.st2 {
    fill: #949494;
    stroke: #78797d;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
