@import '../../style/variable.scss';

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero_logo {
        width: 90%;
        height: 90%;

        @include mobile {
            width: 100%;
            height: 100%;
        }
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;

        .hero_text {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--lightMainBg);
            text-align: center;

            h1 {
                @include copperplate80Bold;
                margin-top: 200px;
                margin-bottom: 0px;

                @include mobile {
                    margin-top: 0;
                    @include copperplate40Bold;
                }

                @include tablet {
                    @include copperplate60Bold;
                }
            }

            h2 {
                @include copperplate80Bold;
                margin: 0px;

                @include mobile {
                    @include copperplate40Bold;
                }

                @include tablet {
                    @include copperplate60Bold;
                }
            }

            h3 {
                @include spaceGrotesk40Medium;
                margin-top: 27px;
                margin-bottom: 0px;

                @include mobile {
                    @include spaceGrotesk25Regular;
                }

                @include tablet {
                    @include spaceGrotesk32Regular;
                }
            }

            h4 {
                @include copperplate20Bold;
                margin-top: 0;
                margin-bottom: 100px;
            }
        }
    }
}
