@import '../../styles/variable.scss';

#experience {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;

    @include mobile {
        flex-direction: column;
        margin-right: 0;
    }
    @include tablet {
        flex-direction: column;
        margin-right: 0;
    }

    @include desktop {
        padding-top: 0;
    }
    @include largeDesktop {
        padding-top: 0;
    }

    .experience-container {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include mobile {
            width: 95%;
            margin: auto;
        }

        @include tablet {
            width: 95%;
            margin: auto;
        }

        .experience-section-title {
            margin-left: 2rem;
            text-align: left;

            @include mobile {
                text-align: center;
                margin-left: 0;
            }

            @include tablet {
                text-align: center;
                margin-left: 0;
                @include Syne(90px, 700, 0em);
            }

            &::before {
                content: 'Experience';
                position: absolute;
                width: calc(100% - 5rem); // réduire la largeur de 5rem
                top: -40px;
                left: 40px;
                text-align: left;
                @include Syne(150px, 700, 0em);
                color: var(--basicWhite);
                opacity: 0.15;

                @include mobile {
                    text-align: center;
                    @include Syne(40px, 700, 0em);
                    top: -15px;
                    left: 60px;
                }

                @include tablet {
                    text-align: center;
                    @include Syne(90px, 700, 0em);
                    top: -15px;
                    left: 60px;
                }

                @include desktop {
                    @include Syne(120px, 700, 0em);
                }

                @include xxlDesktop {
                    @include Syne(200px, 700, 0em);
                }
            }
        }

        .experience-title {
            flex-direction: row-reverse;

            @include mobile {
                margin-right: 0;
            }
            @include tablet {
                margin-right: 0;
            }

            @include xxlDesktop {
                justify-content: center;
            }
        }
    }

    .experience-cards-map {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .experience-text-3 {
        display: flex;
        width: 95%;
        color: var(--basicWhite);
        justify-content: center;
        align-items: center;
        text-align: center;
        @include Space(20px, 400);
        margin: 2rem auto auto auto;

        @include mobile {
            @include Space(18px, 400);
        }

        @include tablet {
            @include Space(20px, 400);
        }

        @include largeDesktop {
            @include Space(25px, 400);
        }

        @include xxlDesktop {
            @include Space(32px, 400);
        }
    }
}

.reverse {
    flex-direction: row-reverse;

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }
}
