@import '../../styles/variable.scss';

#experience {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 10rem;

    @include mobile {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
        padding-top: 5rem;
        padding-bottom: 0;
    }

    @include tablet {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
        padding-top: 5rem;
        padding-bottom: 0;
    }

    @include desktop {
        padding-top: 0;
    }

    @include largeDesktop {
        padding-top: 0;
    }

    .experience-container {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .experience-section-title {
            position: relative;
            width: 100%;
            margin-left: 2rem;
            text-align: left;
            @include Syne(150px, 700, 0em);
            color: var(--basicWhite);
            opacity: 0.1;

            @include mobile {
                text-align: center;
                margin-left: 0;
                @include Syne(40px, 700, 0em);
            }

            @include tablet {
                text-align: center;
                margin-left: 0;
                @include Syne(90px, 700, 0em);
            }

            @include desktop {
                @include Syne(120px, 700, 0em);
            }

            @include xxlDesktop {
                @include Syne(200px, 700, 0em);
            }

            &::before {
                content: 'Experience';
                position: absolute;
                width: calc(100% - 5rem); // réduire la largeur de 5rem
                top: -40px;
                left: 40px;
                text-align: left;
                @include Syne(150px, 700, 0em);
                color: var(--basicWhite);
                opacity: 0.15;

                @include mobile {
                    text-align: center;
                    @include Syne(40px, 700, 0em);
                    top: -15px;
                    left: 60px;
                }

                @include tablet {
                    text-align: center;
                    @include Syne(90px, 700, 0em);
                    top: -15px;
                    left: 60px;
                }

                @include desktop {
                    @include Syne(120px, 700, 0em);
                }

                @include xxlDesktop {
                    @include Syne(200px, 700, 0em);
                }
            }
        }

        .experience-title {
            width: 100%;
            flex-direction: row-reverse;
            text-align: center;
            @include Syne(40px, 700, 0.2em);
            color: var(--basicWhite);
            margin-top: 5rem;
            margin-bottom: 5rem;

            @include mobile {
                @include Syne(25px, 700, 0.2em);
                margin-right: 0;
                text-align: center;
                width: 100%;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }

            @include tablet {
                @include Syne(40px, 700, 0.2em);
                margin-right: 0;
                text-align: center;
                width: 100%;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }

            @include xxlDesktop {
                justify-content: center;
                @include Syne(70px, 700, 0.2em);
            }
        }
    }

    .experience-cards-map {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .experience-text-3 {
        display: flex;
        width: 95%;
        color: var(--basicWhite);
        justify-content: center;
        align-items: center;
        text-align: center;
        @include Space(20px, 400);
        margin: 2rem auto 0 auto;

        @include mobile {
            @include Space(18px, 400);
        }

        @include tablet {
            @include Space(20px, 400);
        }

        @include largeDesktop {
            @include Space(25px, 400);
        }

        @include xxlDesktop {
            @include Space(32px, 400);
        }
    }
}
