@import './keyframes.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--basicOnyx);
    background-image: url('../assets/images/Bg-Squares.svg');
}

body::-webkit-scrollbar {
    display: none;
}
