@import '../../../styles/variable.scss';

.toggleMode {
    display: flex;
    background: none;
    border: none;
    outline: none;
    font-size: 2em;
    color: var(--basicWhite);
    cursor: pointer;

    @include mobile {
        font-size: 2em;
    }

    @include tablet {
        font-size: 1.5em;
    }

    .toggleIcon {
        transition: all 0.1s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}
