@import '../../styles/variable.scss';

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    nav {
        @include glassEffect;
        width: max-content;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 1em;
        display: flex;
        align-items: center;
        gap: 1px;

        a {
            width: 4rem;
            border-radius: 10px;
            display: flex;
            color: var(--basicWhite);
            align-items: center;
            justify-content: center;
            padding: 8px 10px;

            @include mobile {
                width: 3rem;
            }

            &:hover {
                background: var(--darkWhite10);
            }
            &.active {
                background: var(--darkWhite10);
            }
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            color: var(--basicWhite);

            @include xxlDesktop {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
