@import '../../styles/variable.scss';

#about {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 9rem;

    @include mobile {
        padding: 0;
        margin: 0;
    }

    @include tablet {
        padding: 0;
        margin: 0;
    }

    .about-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 95%;
        flex-direction: column;
        justify-content: center;

        @include mobile {
            width: 100%;
            align-items: center;
            text-align: center;
        }

        .about-title {
            margin-bottom: 2.5rem;
            text-align: left;
            @include Syne(100px, 700, 0.2em);
            color: var(--basicWhite);

            @include mobile {
                @include Syne(35px, 700, 0.3em);
                text-align: center;
            }

            @include tablet {
                @include Syne(70px, 700, 0.3em);
                text-align: center;
            }

            @include xxlDesktop {
                @include Syne(130px, 700, 0.3em);
            }
        }

        .about-content {
            display: flex;
            flex-direction: row;

            @include mobile {
                flex-direction: column;
                margin: 0 0.5em;
            }

            @include tablet {
                flex-direction: column;
            }

            .about-text {
                display: flex;
                flex-direction: column;
                width: 70%;
                color: var(--basicWhite);
                text-align: left;
                @include spaceGrotesk24Regular;
                gap: 1rem;

                @include mobile {
                    width: 100%;
                    text-align: center;
                    @include spaceGrotesk20Regular;
                }

                @include tablet {
                    width: 100%;
                    text-align: center;
                }

                @include xxlDesktop {
                    @include spaceGrotesk32Regular;
                }
            }

            .about-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 30%;
                gap: 5rem;

                @include mobile {
                    width: 100%;
                    gap: 2rem;
                    margin-top: 2rem;
                }

                @include tablet {
                    width: 100%;
                    flex-direction: row;
                    margin-top: 2rem;
                }
            }
        }
    }
}
