@import '../../styles/variable.scss';

#contact {
    width: 100%;
    z-index: 0;

    @include largeDesktop {
        padding-top: 0;
    }

    .contact-container {
        position: relative;
        width: 100%;

        @include mobile {
            width: 95%;
            margin: auto;
            margin-bottom: 3rem;
        }

        @include tablet {
            width: 95%;
            margin: auto;
        }

        @include desktop {
            width: 95%;
            margin: auto;
        }

        .contact-section-title {
            display: flex;
            justify-content: center;
            align-items: center;
            @include Syne(200px, 700, 0.2em);
            opacity: 0.2;

            @include mobile {
                @include Syne(60px, 700, 0em);
            }

            @include tablet {
                @include Syne(120px, 700, 0em);
            }

            @include desktop {
                @include Syne(200px, 700, 0em);
            }

            @include largeDesktop {
                @include Syne(190px, 700, 0.2em);
            }

            @include xxlDesktop {
                @include Syne(300px, 700, 0.2em);
            }
        }

        .contact-title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
            margin-bottom: 3rem;
            @include Syne(20px, 700, 0.2em);
            color: var(--basicWhite);

            @include mobile {
                width: 95%;
                @include Syne(15px, 500, 0em);
                margin-bottom: 2rem;
            }
        }

        .contact-content {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            text-align: center;
            margin: auto;
            margin-top: 4rem;
            gap: 3rem;

            @include mobile {
                width: 95%;
                margin-top: 0;
                flex-direction: column-reverse;
                gap: 1rem;
            }
            @include tablet {
                margin-top: 0;
                flex-direction: column-reverse;
                gap: 1rem;
            }

            @include desktop {
                margin-top: 0;
                flex-direction: column-reverse;
                gap: 2rem;
            }
            @include largeDesktop {
                margin-top: 0;
                flex-direction: column-reverse;
                gap: 2rem;
            }

            .contact-form {
                width: 50%;

                @include mobile {
                    width: 100%;
                }
                @include tablet {
                    width: 100%;
                }
                @include desktop {
                    width: 100%;
                }

                @include largeDesktop {
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }
}
