@import '../../styles/variable.scss';

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .hero_content {
        width: 100%;
        display: flex;
        justify-content: center;

        .hero_text {
            width: 50%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--basicWhite);
            text-align: center;

            @include mobile {
                width: 89%;
                margin-bottom: 10rem;
            }

            @include tablet {
                width: 90%;
            }

            @include desktop {
                margin-top: 5em;
            }

            @include largeDesktop {
                margin-top: 4em;
            }

            .hero_slogan {
                @include Syne(60px, 700, 0.03em);
                margin-bottom: 0px;

                @include mobile {
                    margin-bottom: 2rem;
                    @include Syne(30px, 700, 0.2em);
                }

                @include tablet {
                    @include Syne(60px, 700, 0.2em);
                }

                @include xxlDesktop {
                    @include Syne(90px, 700, 0.03em);
                }
            }

            .hero_profession {
                @include Syne(40px, 400, 0.05em);
                margin-top: 27px;
                margin-bottom: 0px;
                text-align: center;
                justify-content: center;

                @include mobile {
                    @include Syne(25px, 400, 0.05em);
                }

                @include tablet {
                    @include Syne(32px, 400, 0.05em);
                }
            }

            .hero_number {
                @include Syne(35px, 500, 0.25em);
                margin-top: 27px;
                margin-bottom: 100px;
                text-decoration: none;
                color: var(--basicWhite);
                border-radius: 20px;
                border: 1px solid #818cf8;
                padding: 5px 15px;

                @include mobile {
                    display: none;
                    // @include Syne(20px, 500, 0.25em);
                }
            }
        }
        .img-icons-section {
            width: 30%;

            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
            @include desktop {
                display: none;
            }

            .img-icons {
                width: 100%;
            }
        }
    }
}
