@import '../../styles/variable.scss';

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .hero_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .hero_text {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--basicWhite);
            text-align: center;

            @include mobile {
                margin-bottom: 100px;
            }

            h1 {
                @include Syne(100px, 700, 0.2em);
                margin-bottom: 0px;

                @include mobile {
                    @include Syne(40px, 700, 0.2em);
                }

                @include tablet {
                    @include Syne(60px, 700, 0.2em);
                }
            }

            h2 {
                @include Syne(60px, 600, 0.2em);
                margin: 0px;
                text-align: center;

                @include mobile {
                    @include Syne(40px, 600, 0.2em);
                }

                @include tablet {
                    @include Syne(60px, 600, 0.2em);
                }
            }

            h3 {
                @include Syne(40px, 400, 0.05em);
                margin-top: 27px;
                margin-bottom: 0px;
                text-align: center;
                justify-content: center;

                @include mobile {
                    @include Syne(25px, 400, 0.05em);
                }

                @include tablet {
                    @include Syne(32px, 400, 0.05em);
                }
            }

            h4 {
                @include copperplate20Bold;
                margin-top: 0;
                margin-bottom: 100px;
            }
        }
    }
}
