@import '../../style/variable.scss';

header {
    position: absolute;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @include mobile {
        display: none;
    }

    .logo_header {
        width: 8rem;
        color: var(--darkWhite70);
    }

    .button_header {
        z-index: 1;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-right: 2%;
        margin-top: 20px;

        .button_fr,
        .button_en {
            width: 42px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid var(--strockGlass);
            background-color: var(--glassGlassDark60);
            backdrop-filter: blur(2px);
            cursor: pointer;

            &:hover {
                background-color: var(--strockGlass);
            }

            .text_fr,
            .text_en {
                @include spaceGrotesk16Regular;
                color: var(--basicWhite);
            }
        }
    }
}
