@import '../../style/variable.scss';

nav {
    background: $glassGlassDark60;
    width: max-content;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 1px solid $strockGlass;
    backdrop-filter: blur(2px);
    margin-top: 1%;
    gap: 1px;

    a {
        width: 40px;
        border-radius: 10px;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        padding: 8px 10px;

        &:hover {
            background: $darkWhite10;
        }

        &.active {
            background: $darkWhite10;
        }
    }

    svg {
        width: 24px;
        height: 24px;
        color: $basicLightGray;
    }
}
