@import '../../../styles/variable.scss';

.auth-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    padding: 5rem;
    @include glassEffectModal;
    width: 500px;
    gap: 2rem;

    @include desktop {
        height: 70%;
    }

    .close-icon {
        position: absolute;
        display: flex;
        justify-content: end;
        top: 0;
        right: 0;
        align-items: center;
        margin: 0.25rem;
        font-size: 2.5rem;
        color: var(--basicDarkGray);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--basicWhite);
        }
    }

    .login-title {
        @include Syne(40px, 700, 0.2em);
        color: var(--basicWhite);
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;

        .label-form {
            width: 100%;
            text-align: left;
            @include Space(20px, 400);
            text-transform: capitalize;
            color: var(--basicWhite);
            padding: 0 0;
        }

        .input-form {
            width: 100%;
            @include Space(15px, 400);
            color: var(--basicWhite);
            @include glassEffect;
            padding: 1rem;
            border-radius: 10px;
            margin-top: 0.5rem;
            line-height: 28px;
            border: 1px solid transparent;
            border-bottom-color: #777;
            outline: none;
            background-color: transparent;
            transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

            &:focus {
                outline: none;
                padding: 1rem;
                border-radius: 1rem;
                border-color: var(--basicWhite);
            }

            &:hover {
                outline: none;
                padding: 1rem;
                border-radius: 1rem;
                border-color: var(--basicWhite);
            }

            &::placeholder {
                color: #777;
            }

            &:focus::placeholder {
                opacity: 0;
                transition: opacity 0.3s;
            }
        }

        .link-btn {
            margin-top: 1rem;
        }
    }
}
