@import '../../styles/variable.scss';

#skills {
    width: 100%;

    @include desktop {
        padding-top: 0;
    }
    @include largeDesktop {
        padding-top: 0;
    }

    .skills-container {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;

        @include mobile {
            width: 95%;
            margin: auto;
        }

        @include tablet {
            width: 95%;
            margin: auto;
        }

        .skills-section-title {
            text-align: right;
            padding-right: 4rem;

            @include mobile {
                text-align: center;
                padding-right: 0;
            }
            @include tablet {
                text-align: center;
                padding-right: 0;
            }

            &::before {
                content: 'Skills';
                position: absolute;
                width: calc(100% - 5rem); // réduire la largeur de 5rem
                top: -40px;
                left: 40px;
                text-align: right;
                @include Syne(150px, 700, 0em);
                color: var(--basicWhite);
                opacity: 0.2;

                @include mobile {
                    text-align: center;
                    @include Syne(40px, 700, 0em);
                    top: -15px;
                    left: 60px;
                }

                @include tablet {
                    text-align: center;
                    @include Syne(100px, 700, 0em);
                    top: -15px;
                    left: 60px;
                }

                @include desktop {
                    @include Syne(120px, 700, 0em);
                }

                @include xxlDesktop {
                    @include Syne(200px, 700, 0em);
                }
            }
        }

        .skills-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            width: 95%;
            margin-left: 2rem;
            gap: 5rem;
            margin-bottom: 5rem;

            @include mobile {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 0;
                margin-bottom: 2rem;
            }
            @include tablet {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 0;
                margin-bottom: 2rem;
            }

            .skills-texts {
                @include Syne(20px, 700, 0.45em);
                color: var(--basicWhite);
                transform: scaleY(2);
                gap: 4rem;
                opacity: 0.5;

                @include mobile {
                    text-align: center;
                    @include Syne(20px, 700, 0.45em);
                    transform: scaleY(1);
                }
                @include tablet {
                    text-align: center;
                    @include Syne(20px, 700, 0.45em);
                    transform: scaleY(1);
                }

                @include desktop {
                    @include Syne(15px, 700, 0.2em);
                    transform: scaleY(2);
                }

                @include xxlDesktop {
                    @include Syne(33px, 700, 0.45em);
                    transform: scaleY(2);
                }
            }

            .skill-icons-sections {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                @include mobile {
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 3rem;
                    gap: 1rem;
                }
                @include tablet {
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 3rem;
                    gap: 1rem;
                }
            }
        }
    }
}
