@import '../../styles/variable.scss';

header {
    position: absolute;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @include mobile {
        display: none;
    }

    .logo_content {
        display: flex;
        justify-content: center;

        .logo_header {
            width: 7rem;
            color: var(--basicWhite);
            margin-top: 1em;
        }

        .name_header {
            @include spaceGrotesk20Regular;
            color: var(--basicWhite);
            margin-top: 2em;

            @include tablet {
                display: none;
            }
        }
    }

    .button_header {
        z-index: 1;
        display: flex;
        justify-content: center;
        gap: 0.5em;
        margin-right: 2%;
        margin-top: 2em;

        .button_fr,
        .button_en {
            width: 42px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid var(--strockGlass);
            background-color: var(--glassGlassDark60);
            backdrop-filter: blur(2px);
            transition: all 0.1s;
            cursor: pointer;

            &:hover {
                background-color: var(--basicWhite);
                color: var(--basicBlack);
            }

            .text_fr,
            .text_en {
                width: 100%;
                @include spaceGrotesk16Regular;
                color: var(--basicWhite);
                transition: all 0.1s;

                &:hover {
                    color: var(--basicBlack);
                }
            }
        }
    }
}
