@import '../../styles/variable.scss';

.footer {
    @include glassEffect;
    border: none;
    border-top: 1px solid var(--darkWhite10);
    padding: 50px 20px;
    z-index: -1;

    @include mobile {
        margin-top: 6rem;
    }

    @include tablet {
        margin-top: 6rem;
    }

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;

        .footer-container-row {
            display: flex;
            flex-wrap: wrap;

            .footer-container-col {
                width: 25%;
                padding: 0 15px;

                @include mobile {
                    width: 100%;
                    margin-bottom: 30px;
                }

                @include tablet {
                    width: 50%;
                    margin-bottom: 30px;
                }

                .footer-container-title {
                    @include Syne(20px, 700, 0.2em);
                    color: var(--basicWhite);
                    margin-bottom: 35px;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 20px;
                        bottom: -10px;
                        background-color: var(--basicWhite);
                        height: 2px;
                        box-sizing: border-box;
                        width: 80px;
                    }
                }

                .footer-text {
                    @include Space(16px, 400);
                    text-transform: capitalize;
                    color: var(--basicWhite);
                    text-decoration: none;
                    color: var(--basicWhite);
                    display: block;
                    transition: all 0.3s ease;

                    &:hover {
                        color: var(--basicWhite);
                        padding-left: 8px;
                    }
                }

                .footer-link {
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    background-color: var(--basicDarkGray);
                    margin: 0 10px 10px 0;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    color: var(--basicWhite);
                    transition: all 0.5s ease;

                    &:hover {
                        color: var(--basicOnyx);
                        background-color: var(--basicWhite);
                    }
                }
            }
        }

        .footer-container-copyright {
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include Syne(16px, 700, 0.01em);
            color: var(--basicWhite);
            text-align: center;
            margin-top: 5rem;

            @include mobile {
                flex-direction: column;
                @include Syne(12px, 700, 0.01em);
                gap: 1rem;
                margin-top: 1rem;
            }

            @include tablet {
                @include Syne(14px, 700, 0.01em);
                margin-top: 1rem;
            }

            a:visited {
                color: var(--basicWhite);
            }

            .copyright {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
}
li:not(:last-child) {
    margin-bottom: 10px;
}
